.resetpassword {
    width: 100%;
    height: 100vh;
    background-color: rgb(137, 130, 241);
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.restpassword__login {
    width: 600px;
    height: 400px;
    background-color: white;
    margin-top: 10%;
}

.reset {
    text-align: center;
}

.submit__enter {
    margin: 50px;
}